.header{
    font-size: 72px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.links{
    font-size:36px;
    text-align: justify;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}